<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Chatapp</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="container">
        <h1>Chat</h1>
        <div class="chat-window">
        </div>
        <form name="chat-form">
            <input type="text" name="message" class="messageInput" autocomplete="off"/><button type="submit">Send</button>
        </form>
        <h2>Participantes</h2>
        <ul class="participants-list">
        </ul>

    </div>


    <!-- Handlebars templates -->
    <script id="message-template" type="text/x-handlebars-template">
        <div class="message-{{owner}}">
            <span class="nickname">{{nickname}}:</span>{{message}}
        </div>
    </script>

    <!-- Scripts -->
    <script src="/bower/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bower/handlebars/handlebars.min.js"></script>
    <script src="/static/js/Message.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>